/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px;
  background-image: url(/images/cover-image.png);
  background-position: bottom;
  min-block-size: 668px;
  min-inline-size: 375px;
}

.decorated-zone::before {
  content: " ";
  position: absolute;
  min-block-size: 33px;
  min-inline-size: 26px;
  color: #ff0070;
  font-family: "IBM Plex Mono";
  font-style: normalж
  font-weight: 400;
  font-size: 18px;
  line-height: 25pxж
}

/* Точка справа от надписи REC */
.decorated-zone::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-inline-start: 5px;
}

.header-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: var(--title-shadow);
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  letter-spacing: 0%;
  width: 355px;
  height: 192px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: 18px;
  display: block;
  inline-size: 100%;
  block-size: fit-content;
}

/* Уголки */
.corner {
  position: absolute;
  width: 25px;
  height: 25px;
}

.corner-top-right {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.corner-bottom-left {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

/* Стили для кнопок темы */
.header__theme-menu {
  position: absolute;
  min-block-size: 70px;
  min-inline-size: 98px;
  left: calc(50% - 70px / 2 + 142.5px);
  top: 75px;
  padding: 0px 13px;
}

.header__theme-menu-button {
  background: none;
  border: 1px solid transparent;
  color: var(--accent-color);
  cursor: pointer;
  /* width: 70px;
  height: 26px; */
  padding-right: 13px;
  padding-left: 13px;
  border-width: 1px;
  text-transform: lowercase;
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

/* Медиа-запросы для адаптива */

/* @media (min-width: 768px) {
  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 20px;
  }
} */
