/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  height: 100vh;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: var(--br-image);
  min-inline-size: 375px;
  max-inline-size: 1024px;
  margin: 0 auto;
  row-gap: 30px;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  position: relative;
  block-size: 100vh;
  inline-size: 100%;
  min-block-size: 668px;
  padding: var(--main-gap);
  align-items: center;
  justify-items: end;
}

.header-rec {
  position: absolute;
  display: flex;
  min-block-size: 33px;
  min-inline-size: 26px;
  color: var(--decor-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);
}

/* Точка справа от надписи REC */
.header-rec::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin: -5px -20px 0 0;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  inset-block-start: 40%;
  inset-inline-end: 0;
}

.decorated-zone {
  position: relative;
}
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.header-title {
  padding-inline-start: 0;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: var(--title-shadow);
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  justify-self: start;
}

.header-text {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family);
  font-style: normal;
}

.header__theme-menu {
  display: flex;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  line-height: 100%;
}
.header__theme-menu-button {
  background: none;
  background-color: transparent;
  font-weight: 400;
  font-size: var(--font-size, 18px);
  color: var(--nav-color);
  cursor: pointer;
  padding-right: 13px;
  padding-left: 13px;
  padding-bottom: 1.5px;
  padding-top: 1.5px;
  border-width: 1px;
  text-transform: lowercase;
  border: 1px solid transparent;
  line-height: 100%;
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--nav-color);
  inset-block-end: -2px;
  inset-inline-start: 0;
  border-bottom: 1px solid var(--nav-hover-color);
  outline: none;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-hover-color);
  pointer-events: none;
}

@media (min-width: 768px) {
  .page {
    row-gap: 40px;
  }

  .header {
    display: grid;
  }

  .header-rec {
    gap: 5px;
  }

  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    position: relative;
    line-height: 82.5%;
    inset-inline-start: calc(var(--main-gap) * -1);
  }

  .header-text {
    inline-size: 50%;
  }

  .title-decor {
    padding: 0;
    inset-inline-end: 20px;
  }

  .header__theme-menu {
    justify-self: end;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    display: flex;
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header-rec {
    inset-inline-end: 48px;
  }

  .header-text {
    display: flex;
    justify-self: end;
  }
  .title-decor {
    padding-inline-end: 20px;
  }
}

.content {
  display: grid;
  gap: 49px;
  padding: var(--main-gap);
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: var(--line-height);
}

.content-section-title {
  color: var(--nav-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-style: normal;
}

.section-text-blok-title {
  background-color: var(--accent-color);
  color: var(--main-text-color);
  font-weight: 700;
  width: 100%;
}

.text-blok-content {
  color: var(--main-text-color);
  width: 100%;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.section-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.section-link:active {
  border-bottom: 1px solid var(--main-text-color);
  pointer-events: none;
}

.section-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section-link:focus {
  outline: none;
}

.section-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.section-text-blok-title,
.text-blok-subtitle {
  background-color: var(--accent-color);
  color: var(--main-br-color);
  font-size: var(--font-size);
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height);
}

.section-text-blok-title {
  font-weight: 700;
}

.text-blok-subtitle {
  margin-top: 10px;
}

.section-text-bloks {
  display: grid;
  gap: 20px;
}

.section-text-blok {
  display: grid;
  width: 100%;
  row-gap: 10px;
}

.section-text-blok-list {
  display: grid;
  gap: 10px;
}

@media (min-width: 768px) {
  .content {
    display: grid;
    gap: 80px;
    padding: var(--main-gap);
  }
  .content-section {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
  }

  .causes .content-section-title {
    max-width: 236px;
  }
  .causes .section-text-bloks {
    grid-column: 1 / -1;
    grid-row: 2 span;
  }
  .causes.text-blok-content {
    margin-block-start: 0;
  }
}

@media (min-width: 1024px) {
  .content-section {
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
  }
  .causes .content-section-title {
    max-width: 315px;
  }

  .section-text-blok {
    align-self: start;
  }
  .text-blok-content {
    align-self: start;
  }
  .causes .section-text-bloks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .advices .section-text-bloks {
    grid-column: 2 / -1;
  }
}

.grid {
  display: grid;
  gap: var(--main-gap);
  margin-top: 10px;
}
.grid-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
  }
  .grid-heading {
    grid-column: 1/-1;
  }
  .grid-image {
    block-size: 100%;
    inline-size: 100%;
    object-position: center;
    object-fit: cover;
  }
  .grid-image:first-of-type {
    grid-column: span 2;
  }
  .grid-image:nth-of-type(2) {
    grid-row: span 2;
  }
  .grid-image:nth-of-type(3) {
    grid-row: span 2;
  }
  .grid-image:nth-of-type(5) {
    grid-column: span 2;
  }
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding: var(--main-gap);
}

@supports (block-size: 100dvb) {
  .footer {
    block-size: 100dvb;
  }
}

.footer-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 116px;
  line-height: 82.5%;
  color: var(--footer-logo-color);
  text-shadow: 2px 2px 0px #ff0070;
}

@media (min-width: 1024px) {
  .footer-title {
    font-size: var(--footer-logo-size);
  }
}
