/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  height: 100vh;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(/images/cover-image.png);
  min-inline-size: 375px;
  max-inline-size: 1024px;
  margin: 0 auto;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  position: relative;
  block-size: 100vh;
  inline-size: 100%;
  min-block-size: 668px;
  padding-inline-start: var(--main-gap, 10px);
  padding-inline-end: var(--main-gap, 10px);
  padding-block-start: var(--main-gap, 10px);
  padding-block-end: var(--main-gap, 10px);
}

.header-rec {
  position: absolute;
  display: flex;
  min-block-size: 33px;
  min-inline-size: 26px;
  color: var(--decor-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);
}

/* Точка справа от надписи REC */
.header-rec::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin: -5px -20px 0 0;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  inset-block-start: 40%;
  inset-inline-end: 0;
}

.decorated-zone {
  position: relative;
}
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.header-title {
  position: absolute;
  padding-inline-start: 0;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 116px;
  line-height: 82.5%;
  text-shadow: var(--title-shadow);
  color: var(--header-logo-color);
  font-size: var(--header-logo-size);
  inset-inline-start: 10px;
}

.header-text {
  grid-row: 3;
  justify-self: end;
  display: block;
  width: 100%;
  max-width: 491px;
  font-weight: 700;
  font-size: var(--font-size);
  color: var(--text-color);
  width: 355px; /* фиксированная ширина */
  height: 117px; /* фиксированная высота */
  line-height: var(--main-line-height);
  font-family: var(--font-family);
  font-style: normal;
  padding-inline-start: var(--main-gap, 10px);
  padding-inline-end: var(--main-gap, 10px);
  margin-block-start: 75px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: bold;
  font-size: var(--font-size);
  display: block;
  /* inline-size: 100%; */
  block-size: fit-content;
  /* padding: 5px 10px; */
  justify-self: end;
}

/* Стили для кнопок темы */
.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
  /* block-size: 70px;
  inline-size: 98px; */
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 100%;
}
.header__theme-menu-button {
  background: none;
  background-color: transparent;
  font-weight: 400;
  font-size: var(--font-size, 18px);
  border: 1px solid transparent;
  color: var(--accent-color);
  cursor: pointer;
  padding-right: 13px;
  padding-left: 13px;
  padding-bottom: 1.5px;
  padding-top: 1.5px;
  border-width: 1px;
  text-transform: lowercase;
  border: 1px solid transparent;
  line-height: 100%;
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--nav-color);
  inset-block-end: -2px;
  inset-inline-start: 0;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border-color: var(--nav-hover-color);
}

.header__theme-menu-button_active {
  /* pointer-events: none; */
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

/* Медиа-запросы для адаптива  */

@media (width >= 768px) {
  .page {
    padding: 10px;
  }

  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .header-rec {
    /* inset-inline-start: 657px; */
    gap: 5px;
  }
  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    grid-column: 1 / 4;
    inline-size: 576.84px;
    block-size: 99px;
    font-size: 120px;
    line-height: 82.5%;
    inset-inline-start: 0px;
  }

  .header-text {
    inline-size: 364px;
    block-size: 117px;
    grid-column: 2 / 4;
    justify-self: right;
    margin-block-start: 162px;
  }

  .title-decor {
    padding: 0;
    inset-inline-end: 20px;
  }

  .header__theme-menu {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: start;
    justify-self: end;
  }
}

@media (width >= 1024px) {
  .header {
    padding: 20px;
    min-block-size: 640px;
  }
  .header-rec {
    inset-inline-end: 39px;
  }
  .header__theme-menu {
    align-self: start;
    justify-self: end;
    display: inline-block;
  }
  .header-title {
    top: 319px;
  }
  .header-text {
    display: flex;
    inline-size: 491px;
    block-size: 71px;
    justify-self: end;
    top: 563px;
  }
  .title-decor {
    padding-inline-end: 20px;
  }
}

.content {
  display: grid;
  gap: 50px;
  padding: 10px;
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.content-section-title {
  color: var(--accent-color);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  font-style: normal;
  /* width: 100%; */
}

.section-text-blok-title {
  background-color: var(--accent-color);
  color: var(--main-br-color);
  margin-bottom: 10px;
  font-weight: 700;
  width: 100%;
}

.text-blok-content {
  color: var(--main-text-color);
  margin-bottom: 10px;
  width: 100%;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 23px;
  color: var(--text-color);
}

.section-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 23px;
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}
.section-link:active {
  border-bottom: 1px solid var(--main-text-color);
  pointer-events: none;
}

.section-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section-link:focus {
  outline: none;
}

.section-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}
.section-text-blok-title,
.text-blok-subtitle {
  background-color: var(--accent-color);
  color: var(--main-br-color);
  margin-bottom: 10px;
  font-size: var(--font-size);
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 23.4px;
}

.section-text-blok-title {
  font-weight: 700;
}

.text-blok-subtitle {
  font-weight: 400;
}

.section-text-bloks {
  display: grid;
  gap: 20px;
}

.section-text-blok {
  display: grid;
  width: 100%;
}

@media (width >= 768px) {
  .section {
    grid-template-columns: 1fr 2fr;
  }
  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .causes .content-section-title {
    max-width: 236px;
  }
  .causes .section-text-bloks {
    grid-column: 1 / -1;
    grid-row: 2 span;
  }
  .causes.text-blok-content {
    margin-block-start: 0;
  }
}
@media (width >= 1024px) {
  .content-section-title {
    min-width: 315px;
  }
  .why .section-text-bloks {
    display: grid;
    grid-template-columns: span 2;
    gap: 20px;
  }
  .why .text-blok-content {
    min-width: 649px;
  }
  .causes .section-text-bloks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .advices .section-text-bloks {
    grid-column: 2 / -1;
  }
}
.grid {
  display: grid;
  gap: var(--main-gap);
}
.grid-image {
  inline-size: 100%;
}
@media (width >= 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-heading {
    grid-column: 1/-1;
  }
  .grid-image {
    block-size: 100%;
    inline-size: 100%;
    object-position: center;
    object-fit: cover;
  }
  .grid-image:first-of-type {
    grid-column: span 2;
  }
  .grid-image:nth-of-type(2) {
    grid-row: span 2;
  }
  .grid-image:nth-of-type(3) {
    grid-row: span 2;
  }
  .grid-image:nth-of-type(5) {
    grid-column: span 2;
  }
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vh;
  max-block-size: 668px;
  padding: var(--main-gap);
}
@supports (block-size: 100dvb) {
  .footer {
    block-size: 100dvb;
  }
}

.footer-title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 116px;
  line-height: 82.5%;
  color: var(--footer-logo-color);
  text-shadow: 2px 2px 0px #ff0070;
}
